<!DOCTYPE html>
<html>
<head>
	<title>Summer 2020 Cocktail spec sheet</title>
</head>
<body>
	<h1>Summer 2020 Cocktail spec sheet</h1>
	<table>
		<%cocktails.each do |cocktail| %>
			<%= "#{cocktail.cocktail_name}" %>
		<table>
			<th>Ingredient</th><th>Amount</th>
			<% cocktail.ingredients.each do |ingredient, amount| %>
			<tr> 
				<td><%= "#{ingredient}" %></td>
				<td><%= "#{amount}" %></td>
			</tr>
			<% end %>
		</table>
		<p><%= "#{cocktail.description}"%><p>
		<% end %>
	</table>
</body>
</html>