<!DOCTYPE html>
<html>
<head>
	<title>Summer 2020 Cocktail spec sheet</title>
	<link href = "styles/style.css" rel = "stylesheet">
</head>
<body>
	<h1>Summer 2020 Cocktail spec sheet</h1>
	<%cocktails.each do |cocktail| %>
		<div><h2><u><%= cocktail.cocktail_name%></u></h2>
	<table id ="ingredients">
		<th>Ingredient</th><th>Amount</th>
		<% cocktail.ingredients.each do |ingredient, amount| %>
		<tr> 
			<td><%= ingredient %></td>
			<td><%= amount %></td>
		</tr>
		<% end %>
	</table>
	<p><%= cocktail.description%></p></div>
	<% end %>
</body>
</html>